body {
    font-family: Arial, sans-serif;
    background-color: #D1DBE4; /* Dark grey background */
    color: #f0f0f0; /* Light grey text */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    background: #A3B7CA; /* Medium grey background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

.todo-container, .chart-container {
    width: 48%;
}

h1 {
    text-align: center;
    background-color: #7593af; /* Slightly lighter grey */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: 100% ;
   
}

input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #7593af; /* Lighter grey */
    color: #000000; /* Light grey text */
    text-overflow: ellipsis;
   overflow: hidden;
   max-width: 100% ;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff; /* Naive blue */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #f0f0f0; /* Light grey text */
}

button:hover {
    background-color: #0056b3; /* Darker blue */
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #7593af; /* Slightly lighter grey */
    color: #000000; /*  grey text */
    margin: 2px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@keyframes flip-down {
    0% {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

.completed {
    text-decoration: line-through;
    color: #000000; /* Light grey */
}

button.complete-btn {
    position: absolute;
    right: 45px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* Green */
    cursor: pointer;
    color: #000000; /* Light grey text */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.complete-btn:hover {
    background-color: #45a049; /* Darker green */
    transform: scale(1.06);
}

button.delete-btn {
    position: absolute;
    right: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f0f0f0; /* Light grey text */
    background-color: #d9534f; /* Red */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.delete-btn:hover {
    background-color: #c9302c; /* Darker red */
    transform: scale(1.06);
}

select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #7593af; /* Lighter grey */
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff; /* Light grey text */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

select:hover {
    background-color: #476f95; /* Slightly lighter grey */
    transform: scale(1.05);
}

canvas {
    width: 100% !important;
    height: auto !important;
}