body {
    font-family: Arial, sans-serif;
    background-color: #a08383;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1000px;
    background: #b9bfc7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(134, 75, 75, 0.1);
}

.todo-container, .chart-container {
    width: 48%;
}

h1 {
    text-align: center;
    background-color: #925656;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 50px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #a04040;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #696969;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #b49d9d;
    color: #000000;
    margin: 2px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.completed {
    text-decoration: line-through;
    color: #bbb;
}

button.complete-btn {
    position: absolute;
    right: 45px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.complete-btn:hover {
    background-color: grey;
    transform: scale(1.05);
}

button.delete-btn {
    position: absolute;
    right: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(194, 36, 36);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.delete-btn:hover {
    background-color: grey;
    transform: scale(1.05);
}

select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(126, 67, 67);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

select:hover {
    background-color: #949494;
    transform: scale(1.05);
}

canvas {
    width: 100% !important;
    height: auto !important;
}